@page "/post/{id:int}"

@using WebBlog.Services;
@using WebBlog.Data.Models;

@inject IPostService postService;

<header class="masthead" style="background-image: url('@img')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    @if (post != null)
                    {
                        <h1>@post.Title</h1>
                        <span class="meta">
                            Publicado por
                            <a href="@post.Id">@post.Author</a>
                            el @post.CreatedAt.ToShortDateString()
                        </span>
                    }
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @if (post != null)
                {
                    <p>@post.Content</p>
                }
                else
                {
                    <p>Loading...</p>
                }
            </div>
        </div>
    </div>
</article>

@code {
    [Parameter] public int id { get; set; }
    private WebBlog.Data.Models.Post post;
    private string img;

    protected override async Task OnInitializedAsync()
    {
        var result = await postService.GetById(id);
        post = result[0];
        if(post.ImageUrl != null){
            img = post.ImageUrl;
        }
    }
}
